@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body .ant-btn-primary {
  @apply bg-[#00aefd] border-none;
}

body .ant-message-custom-content {
  display: flex;
  align-items: center;
  width: auto;
}

body .anticon-check-circle {
  position: relative;
  margin-right: 15px !important;
}

body .anticon-check-circle:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  transform: translate(-25%, -25%);
  border-radius: 4px;
  background-color: rgb(21, 221, 73);
  opacity: 0.2;
}

body .anticon-close-circle {
  position: relative;
}

body .anticon-close-circle:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  transform: translate(-25%, -25%);
  border-radius: 4px;
  background-color: rgb(248, 96, 134);
  opacity: 0.2;
}

body .anticon-info-circle {
  position: relative;
}

body .anticon-info-circle:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  transform: translate(-25%, -25%);
  border-radius: 4px;
  background-color: #00aefd;
  opacity: 0.2;
}

body .ant-message-notice-content {
  padding: 2rem 2rem;
  border-radius: 5px;
  margin-left: 15px !important;
}

body .ant-message-notice-content span {
  margin-left: 7px !important;
}

.active {
  @apply bg-orange-400 text-white px-10 py-2 rounded-sm;
}
