.userIcon {
  height: 100%;
  width: max-content;
  background-color: #d1d9d6;
  display: grid;
  place-items: center;
  top: 0;
  margin-top: -10px;
  cursor: pointer;
  border-radius: 5px;
  opacity: 75%;
  transition: 0.2s;
}

.userIcon svg {
  font-size: 30px;
  color: black;
}

.userIcon:hover {
  background-color: #ff8d2b;
  opacity: 100%;
}
